.interval-img {
    height: 40%;
}
.button-container {
    height: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: stretch;
}
button {
    border: none;
    color: white;
    padding: 13px 13px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 16px;
    margin: 4px 4px;
    cursor: pointer;
    background-color: black;
    flex: 1 1 19%;
}
